# EditorConfig: https://editorconfig.org

root = true

[*.py]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.toml]
charset = utf-8
indent_size = 4
indent_style = space

[*.yml]
charset = utf-8
tab_width = 2
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
charset = utf-8
tab_width = 2
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.rst]
charset = utf-8
tab_width = 3
indent_size = 3
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
